# specific to this project
data/
test/
images/

*.nd2
**/pairwise_rebuttal.png
# unet weight file
organelle_measure/unet/weights*

# python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

.pytest_cache

# unet weight file
organelle_measure/unet/weights*
organelle_measure/unet/path_weights/*